<%- include("../include/base.ejs", { title: "Edit Profile" }) %> <%-
include("../include/header.ejs", { user: user }) %>

<main
    class="mt-10 flex w-full flex-col items-center justify-center rounded-3xl bg-gray-500 p-4 text-center text-2xl text-white md:text-3xl"
>
    <div class="flex w-full flex-col items-center justify-center">
        <img
            src="https://cdn.discordapp.com/avatars/<%= discordUser.id %>/<%= discordUser.avatar %>.png"
            alt="<%= discordUser.username %> avatar"
            class="mb-4 h-32 w-32 rounded-3xl border-4 border-black object-cover"
        />
        <h1 class="mb-5 text-3xl font-bold">
            <span
                >Editing Your Profile (<code><%= discordUser.username %></code
                >)</span
            >
        </h1>
        <%# TODO: Add form for editing profile %>
        <p class="mb-5 text-lg font-medium">Coming soon!</p>
        <div class="flex w-full flex-row items-center justify-center gap-4">
            <a
                href="/profile"
                class="mb-5 rounded-3xl border-4 border-blue-500 px-5 py-3 text-sm font-semibold text-white duration-700 hover:bg-blue-500"
            >
                Back to Profile
            </a>
            <button
                class="mb-5 rounded-3xl border-4 border-primary-500 px-5 py-3 text-sm font-semibold text-white duration-700 hover:bg-primary-500"
            >
                Submit and Save
            </button>
        </div>
    </div>
</main>
